<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="static/jquery.tmpl.min.js"></script>

    <script type="text/javascript" src="static/greenbar.js"></script>
    <link rel="stylesheet" href="static/greenbar.css" type="text/css" />
  </head>

  <script id="testheader" type="text/x-jquery-tmpl">
    {{if success == true}}
    <div class="success">
    {{else}}
    <div class="failure_or_error">
    {{/if}}
    Ran ${numtests} test{{if numtests == 0 || numtests > 1}}s{{/if}} with 
    ${failures} failure{{if failures == 0 || failures > 1}}s{{/if}}
    and
    ${errors} error{{if errors == 0 || errors > 1}}s{{/if}}
    in ${totaltime} seconds.
       <div class="bar"></div>
    </div>

  </script>

  <script id="testcase" type="text/x-jquery-tmpl">
    <li>
      <div class="testcase ${result}">
        <div class="icon ${result}"></div>
        <div class="name"><strong>${name}</strong></div>
        {{if result == "failure" || result == "error"}}
        <div class="details">
          ${details}
        </div>
        {{/if}}
      </div>
    </li>
  </script>

  <title>Greenbar</title>
  <body>
    <input type="button" onclick="Greenbar.runTests()" value="Go!" class="go" />
    <div id="nowtime" class="time"></div>

    <div id="testheader-container"></div>
    <div id="testcase-container"></div>

    <a id="display-output" href="#">Show Output</a>
    <div id="output"></div>

    <script>
      jQuery(document).ready(function () {
         Greenbar.go();
      });
    </script>
  </body>
</html>
